[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pep8 = "*"
flask = "*"
mysqlclient = "*"
flask-cors = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
